<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension 
      point="org.eclipse.ui.popupMenus"> 
	  <objectContribution 
         id="Academia.ui.objectContribution.gencode"
         objectClass="org.eclipse.core.resources.IFile"
         nameFilter="*.Academia">
	     <action
	        id="Academia.ui.objectContribution.actions.genfkcode" 
	        label="Generate application code"
            icon="icons/dwizard16.png"
            enablesFor="1"
	        menubarPath="additions" 
	        class="Academia.ui.GenCodeFromFileAction"> 
	     </action> 
      </objectContribution> 
   </extension>
</plugin>